version: "3.7"

services:
  weeapps-redis:
    image: redis:{{redis_version}}
    restart: always
    container_name: weeapps-redis
    expose:
      - 6379

  web:
    restart: always
    container_name: weeapps
    build:
      context: .
      args:
        SECRET_KEY: "{{ secret_key }}"
    environment:
      REDIS_IP: weeapps-redis
      SECRET_KEY: "{{ secret_key }}"
    volumes:
      - weeapps_db:/opt/weeapps/weeapps/
    depends_on:
      - weeapps-redis
    ports:
      - "7500:8000"

volumes:
  weeapps_db:
