version: "3.7"

services:
  weeapps-redis:
    image: redis:5
    restart: on-failure
    container_name: weeapps-redis
    expose:
      - 6379

  web:
    restart: on-failure
    container_name: weeapps
    build:
      context: .
      args:
        SECRET_KEY: "{{ secret_key }}"
    environment:
      REDIS_IP: weeapps-redis
      SECRET_KEY: "{{ secret_key }}"
    depends_on:
      - weeapps-redis
    ports:
      - "7500:8000"
