server_tokens off;

server {
    listen 80 default_server;
    server_name {{ domain }};

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root    {{ web_root }}/letsencrypt;
    }

    location / {
        rewrite ^(.*) https://$server_name$1 permanent;
    }
    
}
