[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
jmespath = "*"

[dev-packages]

[scripts]
deploy = "ansible-playbook --vault-id vault_pass.txt deploy.yml"
initial_deploy = "ansible-playbook --vault-id vault_pass.txt initial.yml"
